@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome to OFAD Restaurant</h1>
    <p>You don't need a silver fork to eat good food.</p>
</div>
<div class="text-center">
    <p>Food Menu</p>
</div>
<div class="text-center">
    <ul  class="nav text-centre">
        <li><a href="#Drinks">Drinks</a></li>
        <li><a href="#Proteins">Proteins</a></li>
        <li><a href="#Swallows">Swallows</a></li>
        <li><a href="#Soups&Stews">Soups&Stews</a></li>
        <li><a href="#Rice">Rice</a></li>
        <li><a href="#Sides">Sides</a></li>
    </ul>

</div>
<div class= "text-center">
<h1>About us</h1>
<p>Welcome to OFAD Restaurant, we love making delicious variety of nigerian dishes<br /> and also we make home delivery service for our customer that cant make it down to the restuarant</p>
</div>*@


@*<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="images/favicon.png" type="">

    <title> Feane </title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <!-- nice select  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
    <!-- font awesome style -->
    <link href="css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="css/responsive.css" rel="stylesheet" />

</head>
*@
<body>
    <section class="welcomepg">
    <h2 class="name">
       OFAD African Restuarant
    </h2>
    <p>
        Welcome to OFAD African Restuarant, where we love making delicious varieties of Nigerian foods. We also do home delivery services for our customers that can make it down to the restaurant.
    </p>
    <div class="btn-box">
    <a href="" class="btn1">
    Order Now
    </a>
    </div>
    </section>
    <section>
        <div class="heading_container">
            <h2>
                Our categories
            </h2>
        </div>
        <ul class="filters_menu">
            <li><a href="#Drinks">Drinks</a></li>
            <li><a href="#Proteins">Proteins</a></li>
            <li><a href="#Swallows">Swallows</a></li>
            <li><a href="#Soups&Stews">Soups&Stews</a></li>
            <li><a href="#Rice">Rice</a></li>
            <li><a href="#Sides">Sides</a></li>
        </ul>

    </section>
    <section>
        <div>
        <div class="heading_container">
            <h2>
               About OFAD
            </h2>
        </div>
        <p>
          wsdcdsaadsfghghfgggggggggggggggggggggggggdghntretrwsfe
        </p>
        <a href="">
            Read More  
        </a>
        </div>
    </section>
    <section>
        <div>
            <div>
                <h2 class="heading_container">
                    Book A Table
                </h2>
            </div>
            <div class="row">
        <div class="col-md-6">
          <div class="form_container">
              <form action="">
              <div>
                <input type="text" class="form-control" placeholder="Your Name" />
              </div>
              <div>
                <input type="text" class="form-control" placeholder="Phone Number" />
              </div>
              <div>
                <input type="email" class="form-control" placeholder="Your Email" />
              </div>
              <div>
                <select class="form-control nice-select wide">
                  <option value="" disabled selected>
                    How many persons?
                  </option>
                  <option value="">
                    2
                  </option>
                  <option value="">
                    3
                  </option>
                  <option value="">
                    4
                  </option>
                  <option value="">
                    5
                  </option>
                </select>
              </div>
              <div>
                <input type="date" class="form-control">
              </div>
              <div class="btn_box">
                <button>
                  Book Now
                </button>
              </div>
            </form>
          </div>
        </div>
        </div>
        </div>
    </section>

       
</body>